<!DOCTYPE html>
<html>
<head>
    <title>Upload Document</title>
</head>
<body>
    <h2>Upload Document with Query</h1>
    <form action="/search" method="post" enctype="multipart/form-data">
        <label for="query">Query:</label>
        <input type="text" id="query" name="query"><br><br>

        <label>Search Options:</label><br>
        <input type="radio" id="web" name="options" value="web">
        <label for="web">Web</label><br>
        <input type="radio" id="document" name="options" value="document">
        <label for="document">Document</label><br>
        <input type="radio" id="all" name="options" value="all" checked>
        <label for="all">All</label><br><br>

        <input type="submit" value="Submit">
    </form>

    <h2>Upload Document for Indexing</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="document">Document:</label>
        <input type="file" id="document" name="document"><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
